<header ng-hide="currentPath === '/'">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid header-wrapper">
			<div class="row">
				<div class="col-md-3">
					<a href="/"><img src="assets/img/logo-min-prod.png" height="50px"></a>
				</div>
				<div class="col-md-6">
					<div class="header-title">
						<span>{{headerTitle | uppercase}}</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="header-right">
						<a href="">Por Provincia</a>
						<span> | </span>
						<a href="">Por Sector</a>
					</div>
				</div>							    
			</div>
		</div>
	</nav>
</header>