<div class="bg-gray"></div><!-- BACKGROUND COLOR -->
<div class="container" id="contenedor-primario2">
	<div class="row">
		<div class="col-md-12">
			<h3>Seleccione {{selectNodeStr}}</h3>
		</div>
    </div>	
    <div class="row">
	    <div class="col-xs-12 col-sm-12 col-md-4"
	    	 ng-repeat="sector in sectorTree | filter:{ parentID: currentSector.nodeID }:true">
	    	<a class="btn btn-default btn-lg btn-block boton-sector" ng-click="selectSector(sector)">
	    		<div class="ellipsis">{{sector.nodeID}} - {{sector.nodeName}}</div>
	    		<span id="glyphicon" class="glyphicon glyphicon-menu-right pull-right" style="margin-top: -20px;"></span>
			</a>
		</div>
	</div>
</div>

<style>

.ellipsis{
	width: 270px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
} 

.boton-sector{
    background-color: #d6d6d6;
    border: none;
    padding: 20px 18px;
    margin-top: 15px;
    text-align: left;
    font-family: "Roboto-thin"
}

.boton-sector:hover{
	background-color: #0973B9 !important;
	color: white !important;
}

.boton-sector:hover > #glyphicon {
    color: white !important;
}	

</style>